
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /zyhndesign/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /zyhndesign/index.php [L]

#php_value post_max_size 8M
#php_value upload_max_filesize 8M

</IfModule>

# END WordPress
