body{
    margin:0px;
    font-family: "Microsoft YaHei";
    min-width: 700px;
    background: #f6f6f6;
}
a{
    text-decoration: none;
}
/*ie中img默认有边框*/
img{
    border: none;
}
li{
    list-style: none;
}
.touchHscroll{
    overflow:auto !important;
    overflow-x:scroll !important;
    overflow-y:hidden !important;
    -webkit-overflow-scrolling: touch;
}
.hidden{
    display: none;
}
/*----------------------菜单部分-----------*/
nav{
    position: fixed;
    top:0px;
    padding-top: 20px;
    width: 100%;
    padding-bottom: 15px;
    z-index: 100;
}
nav h1{
    width: 189px;
    height: 41px;
    margin:0px 0px 0px 6.6%;
}
nav .logo{
    background: url(../../images/app/logoWhite.png) no-repeat;
    font-size: 0px;
    display: block;
    width: 100%;
    height:100%;
}
nav ul{
    position: absolute;
    right: 6%;
    width: 35%;
    top:0px;
    padding:0px;
    white-space: nowrap;
    font-size: 18px;
    margin: 0px;
    height: 100%;
}
nav ul li{
    display: inline-block;
    width: 25%;
    height: 100%;
    vertical-align: top;
}
nav ul li a{
    color:#f6f6f6;
    width: 75px;
    margin:auto;
    text-align: center;
    display: block;
    height: 100%;
    line-height: 76px;
    text-shadow: 2px 2px 2px #ccc;
}
nav.active{
    border-bottom: 1px solid #ccc;
    background: #f6f6f6;
}
nav.active .logo{
    background: url(../../images/app/logoBlack.png) no-repeat;
}
nav.active ul li a{
    color:#000;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: content-box;
}
nav.active ul li a:hover,nav.active ul li a.active{
    border-bottom: 4px solid #009fd2;
    color:#009fd2;
}

/*-------------------------------最新文章-------------------*/
.topHeader{
    width: 100%;
    height: 590px;
    position: relative;
}
.topHeader img{
    width: 100%;
    height: 100%;
}
.topPost{
    position: absolute;
    left: 40px;
    bottom:30px;
    width: 30%;
}
.topPost h2{
    width: 30%;
}
.topPost h2 a{
    color:#f6f6f6;
    font-size: 18px;
    font-weight: normal;
}
.topPost p{
    color:#f6f6f6;
    font-size: 14px;
    font-weight: normal;
}
.topHeader .down{
    position: absolute;
    bottom:10px;
    left:50%;
    margin-left: -22.5px;
    height: 28px;
    width: 45px;
    font-size: 0px;
    background: url(../../images/app/down.png) no-repeat;
    cursor: pointer;
}

/*-----------------------------首页介绍----------------------*/
.index{
    padding: 60px 10% 0px 15%;
    height: 450px;
}
.indexIntroduce h2,.productIntroduce div h2,.companyIntroduce h2,.joinus h2{
    font-size: 30px;
    font-weight: bold;
}
.indexIntroduce p,.companyIntroduce p{
    font-size: 16px;
    color:#5a5a5a;
    width:45%;
}
.index ul{
    white-space: nowrap;
    padding:0px;
    margin: 40px 0px 0px -20px;
}
.index ul li{
    display: inline-block;
    border-right: 1px dotted #ccc;
    width: 33%;
    padding:0px 10px;
    vertical-align: top;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: content-box;
}
.index ul li:nth-child(3n){
    border-right: none;
}
.index ul li h3{
    width:100%;
    font-size:20px;
    color:#4b4b4b;
    padding-left:70px;
    height: 41px;
    line-height: 41px;
}
h3.imageIntroduce{
    background: url(../../images/app/imageIntroduceBg.png) no-repeat;
}
h3.homeIntroduce{
    background: url(../../images/app/homeIntroduceBg.png) no-repeat;
}
h3.readIntroduce{
    background: url(../../images/app/readIntroduceBg.png) no-repeat;
}
.index ul li p{
    font-size: 14px;
    color:#5a5a5a;
    width:100%;
    white-space: normal;
}

/*------------------------------产品----------------*/
.product{
    padding:60px 10% 40px 10%;
    height: auto;
    position: relative;
}
.productIntroduce{
    margin-left: 8%;
}
.productIntroduce ul{
    margin:0px;
    padding:0px;
    width: 50%;
    white-space: nowrap;
}
.productIntroduce ul li{
    display: inline-block;
    width: 32%;
}
.productIntroduce ul li a{
    color:#5a5a5a;
    font-size: 16px;
}
.productIntroduce ul li a:hover,.productIntroduce ul li a.active{
    border-bottom: 2px solid #009fd2;
    color:#009fd2;
}
.product .prevPage,.product .nextPage{
    width: 55px;
    height: 42px;
    position: absolute;
    top:50%;
    font-size:0px;
    z-index: 50;
    cursor: pointer;
}
.product .prevPage{
    background: url(../../images/app/prevPage.png) no-repeat;
    left:0px;
}
.product .nextPage{
    background: url(../../images/app/nextPage.png) no-repeat;
    right:0px;
}
.listContainer{
    overflow: hidden;
}
.productList{
    white-space: nowrap;
    padding:0px;
    margin-top: 40px;
    font-size:0px;
    width: 100%;
}
.productArticle{
    display: inline-block;
    border-right: 1px dotted #ccc;
    width: 33.3%;
    padding:0px 10px;
    vertical-align: top;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: content-box;
    cursor: pointer;
}
.productArticle:nth-child(3n){
    border-right: none;
}
.productArticle .thumb{
    position: relative;
    width:100%;
    font-size: 0px;
    overflow: hidden;
}
.productArticle .thumb img{
    width: 100%;
    border-radius: 20%;
}
.productArticle .thumb .description{
    font-size: 0px;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:-100%;
}
.productArticle .thumb div{
    font-size: 0px;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:-100%;
    background: #ccc;
    border-radius: 20%;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    transition: all .4s ease-out;
    opacity: 0.8;
}
.productArticle .thumb div span{
    width:104px;
    height: 103px;
    background: url(../../images/app/checkPost.png) no-repeat;
    position:absolute;
    top:50%;
    left:50%;
    margin:-51.5px 0px 0px -52px;
}
.productArticle .abstract{
    text-align: center;
}
.productArticle .abstract h3{
    font-size: 24px;
    color:#787878;
    font-weight: bold;
}
.productArticle .abstract p{
    font-size: 14px;
    color:#000;
}
.productArticle a:hover>.thumb div{
    top:0px;
}
.productArticle a:hover>.abstract h3,.productArticle a:hover>.abstract p{
    color:#009fd2;
}

/*-------------------公司介绍---------------*/
.company{
    padding: 60px 10% 0px 15%;
    height: auto;
}
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}
.rslides_container {
    margin-bottom: 0px;
    position: relative;
    /*float: left;*/
    width: 100%;
}

.rslides_nav {
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 50%;
    left: 0;
    opacity: 0.7;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("../../images/app/themes.gif") no-repeat left top;
    margin-top: -55px;
}

.rslides_nav:active {
    opacity: 1.0;
}

.rslides_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}

.rslides_nav:focus {
    outline: none;
}

.rslides_tabs {
    margin-top: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 10;
}

.rslides_tabs li {
    display: inline;
    float: none;
    _float: left;
    *float: left;
    margin-right: 5px;
}

.rslides_tabs a{
    text-indent: -9999px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #fff;
    display: inline-block;
    _display: block;
    *display: block;
    -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    width: 9px;
    height: 9px;
}

.rslides_here a {
    background: #009fd2;
}
.caption {
    position: absolute;
    display: block;
    bottom: -20px;
    left: 0;
    right: 0;
    padding: 15px;
    text-align: center;
    background: #000;
    background: rgba(0,0,0, .8);
    color: #fff;
}

/*--------------------加入我们-----------------*/
.joinUs{
    padding: 60px 10% 60px 15%;
    height: auto;
}
.inviteTypes h3{
    color:#009fd2;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}
.inviteTypes ul{
    padding:0px;
}
.inviteTypes ul li{
    list-style: disc inside url(../../images/app/discBlue.png);
    line-height: 30px;
}
.inviteTypes ul li a{
    color:#8e8e8e;
    font-size: 18px;
}

/*------------------底部-------------------*/
footer{
    background: url(../../images/app/footerBg.png) repeat-x;
    color:white;
    height: 200px;
    padding-left:15%;
    overflow: hidden;
}
.address .copyright{
    font-size: 14px;
    text-align: center;
    color: #ccc;
}
/*------------------------详情页-------------------*/
.wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .3;
    z-index: 9998;
    top:0px;
}
.content{
    position:fixed;
    top:-100%;
    left:5%;
    width: 90%;
    z-index: 9999;
    height: 100%;
    overflow: hidden;
}
.content .contentClose{
    display: block;
    color:#009fd2;
    background: #000;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    margin-left: auto;
    cursor:pointer;
    text-align: center;
}
.mainContent{
    position: relative;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: content-box;
    background: #f6f6f6;
    overflow-y: auto;
}
.mainContent .entryTitle{
    background: url(../../images/app/discBlue.png) no-repeat center left;
    padding-left: 10px;
    margin: 0px;
}

/* 设置滚动条的样式 */
.mainContent::-webkit-scrollbar {
    width: 8px;
}
/* 滚动槽 */
.mainContent::-webkit-scrollbar-track {
    background:#1a1a1a;
}
/* 滚动条滑块 */
.mainContent::-webkit-scrollbar-thumb {
    background: #E83A00;
}

/*----------------------等待动画-----------------------------*/
.loadingSpinner{
    width:189px;
    height:41px;
    background:url(../../images/app/logoBlack.png) no-repeat;
    animation: spin 4s infinite linear reverse;
    -webkit-animation: spin 4s infinite linear reverse;
    -moz-animation: spin 4s infinite linear reverse;
    position:absolute;
    top:50%;
    left:50%;
    margin:-20.5px 0 0 -94.5px;
}
@keyframes spin{
    0%{
        transform:rotateY(0deg);
    }
    100%{
        transform:rotateY(360deg);
    }
}

@-webkit-keyframes spin{
    0%{
        -webkit-transform:rotateY(0deg);
    }
    100%{
        -webkit-transform:rotateY(360deg);
    }
}
@-moz-keyframes spin{
    0%{
        -moz-transform:rotateY(0deg);
    }
    100%{
        -moz-transform:rotateY(360deg);
    }
}
